<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwamp3d3JocG5jY25vdm50ZGJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2OTMwMjUsImV4cCI6MjA3NjI2OTAyNX0._UfmrR4JeVbKt0IYWrzOYsKMRPaLsDyxaFCeJI9hnuQ</string>
	<key>SUPABASE_URL</key>
	<string>https://bpjjwwrhpnccnovntdbv.supabase.co</string>
</dict>
</plist>
